  <tr>
    <td class="text-success"><%= link_to message.user.username, user_path(message.user.id) %></td> <td class="text-info">(<%= message.user.status %>)</td>
    <td>$ <%= message.body %></td>
    <td class="text-warning"><span class="created_at"><%= message.created_at.strftime("%H:%M") %></span></td>
  </tr>
