<div>
  <% if current_user %>
    <%= form_for BeginnerMessage.new, remote: true do |f| %>
      <%= f.text_area :body %>
      <%= f.submit "Send", :class=>'btn' %>
    <% end %>
  <% end %>
</div>


<div>
  <table>
  <tr>
    <%= render @beginner_messages %>
  </tr>
  </table>
</div>
