<div>
  <% if current_user %>
    <%= form_for BeginnerMessage.new, remote: true do |f| %>
      <%= f.text_area :body, :class=>'form_control' %>
      <%= f.submit "Send", :class=>'btn btn-primary' %>
    <% end %>
  <% end %>
</div>


<div>
  <table>
    <%= render @beginner_messages %>
  </table>
</div>
