<% @beginner_message_saerches.each do |beginner_message_search| %>

  <div>
    <%= beginner_message_search.user.username %>
    $ <%= beginner_message_search.body %>
    <%= beginner_message_search.created_at %>
  </div>
<% end %>
